<section id="signup_main" class="authenty signin-main">
    <div class="container">
        <div class="form-wrap">
            <div class="row">
                <div data-animation-delay=".8s" data-animation="fadeInDown" class="title animated fadeInDown" style="animation-delay: 0.8s;">
                    <h1>Signup</h1>
                </div>
                <div data-animation="bounceIn" id="form_1" class="animated bounceIn">
                    <div class="form-header">
                        <i class="fa fa-user"></i>
                    </div>
                    <div class="form-main">
                        <form method="post" action="/signup">
                            <div class="form-group">
                                <input type="text" name="username" required="required" placeholder="Username" class="form-control" id="un_1">
                                <input type="email" name="email" required="required" placeholder="Email" class="form-control" id="email_1">
                                <input type="text" name="fullName" placeholder="Full Name" class="form-control" id="fullName_1">
                                <input type="password" name="password" required="required" placeholder="Password" class="form-control" id="pw_1">
                                <input type="password" required="required" placeholder="Confirm Password" class="form-control" id="pw_2">
                            </div>
                            <button class="btn btn-block signin" type="submit" id="signIn_1">Sign Up</button>
                        </form>
                    </div>
                    <div class="form-footer">
                        <div class="row">
                            <div class="col-xs-7">
                                <i class="fa fa-unlock-alt"></i>
                                <a id="forgot_from_1" href="#password_recovery">Forgot password?</a>
                            </div>
                            <div class="col-xs-5">
                                <i class="fa fa-check"></i>
                                <a id="signup_from_1" href="#signup_window">Login</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>