<fieldset>
    <legend>
        <div>Room Name: <%= room.name%></div>
    </legend>
</fieldset>
<ul>

</ul>
<div>Room Description: <%= room.description%></div>
<div>Room Id: <%= room._id %></div>
<div>
    {{ a }}
</div>